<div class="whole">
    {{> checkmark}}
    <div class="main-list">
        <section>
            <h1 id="establishment-title">Establishment</h1>
            <hr />
        </section>
        <div class="first-line">
            {{#each resto_row1}}
            <div class="restos">
                <a href="/resto_review/estb-review.html">
                    <img src="{{restoPic}}" alt="Tea Cup" id="resto-pic" />
                    <section class="title-bar-box">
                        <h2 id="resto-name">{{restoName}}</h2>
                        <section class="ratings">
                            <h4 id="main-rating">{{main_rating}}</h4>
                            <h5 id="out-of">{{outOF}}</h5>
                            <h4 id="overall-rating">{{overall}}</h4>
                            <img src="{{star_img}}" alt="star" id="rate" />
                        </section>
                    </section>
                    <p class="description">{{description}}</p>
                </a>
            </div>     
            {{/each}}
        </div>
        <div class="first-line">
            {{#each resto_row2}}
            <div class="restos">
                <a href="/resto_review/estb-review.html">
                    <img src="{{restoPic}}" alt="Tea Cup" id="resto-pic" />
                    <section class="title-bar-box">
                        <h2 id="resto-name">{{restoName}}</h2>
                        <section class="ratings">
                            <h4 id="main-rating">{{main_rating}}</h4>
                            <h5 id="out-of">{{outOF}}</h5>
                            <h4 id="overall-rating">{{overall}}</h4>
                            <img src="{{star_img}}" alt="star" id="rate" />
                        </section>
                    </section>
                    <p class="description">{{description}}</p>
                </a>
            </div>     
            {{/each}}
        </div>
    </div>
</div>